
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="login-container">
        <h2>Đăng nhập hệ thống</h2>
        <input type="text" id="username" placeholder="Tên đăng nhập">
        <input type="password" id="password" placeholder="Mật khẩu">
        <button id="login-btn">Đăng nhập</button>
        <a href="/register"><button id="show-register" class="switch-btn">Đăng ký ngay</button></a>
        <p id="error-msg"></p>
    </div>
    <!-- <p>Bạn chưa có tài khoản? <a href="/register">Đăng ký ngay</a></p> -->
    
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    
</body>
</html>
